/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

$white: #fff;
$background: #f7f7f7;
$preview: #f0f0f0;
$preview-hover: #dddddd;
$silver: #b4b4b4;
$gray: #848484;
$orange: #dc8718;
$positive: #459140;
$negative: #c43030;
