/**
	Styles for backend.
*/

@import "../common.scss";

.pme-pre-evaluation {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;

    .components-button {
        &.is-link {
            text-decoration: none;
            outline: none;
        }
    }

    .edit-title {
        label {
            font-size: 1rem;
            font-weight: bold;
        }

        input {
            font-size: 1.2rem;
        }
    }

    .pme-accordion__toggle {
        span {
            font-weight: bold;
        }
    }

    .edit-question-text {
        label {
            font-weight: bold;
        }
    }

    .edit-has-examples {
        .components-base-control__field {
            display: flex;
            gap: 1rem;
        }
    }

    .edit-has-examples {
        margin-top: 0.5rem;

        .components-base-control__field {
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .edit-icon-coordinates {
        span {
            margin: 0;
            font-size: 0.81rem;
        }
    }

    .edit-examples {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .edit-example {
        &-actions {
            display: flex;
            flex-direction: column;
        }

        &-image {
            position: relative;
            width: 6rem;
            height: 6rem;
        }

        &-image-preview {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 0;
            background: $preview;
            transition: all 0.1s ease-out;

            &:hover,
            &:focus,
            &:active {
                background: $preview-hover;
                // color: #1e1e1e;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-image-actions {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.25);
            transition: all 0.1s ease-out;

            button {
                color: $preview;

                &:hover,
                &:focus,
                &:active {
                    color: darken(#f0f0f0, 25%);
                }
            }
        }
    }
}
