/**
	Styles for both frontend + backend.
*/

@import "../common.scss";

.pme-pre-evaluation {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;

    @media (min-width: 992px) {
        flex-direction: row;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .col {
        flex: 0 0 50%;

        @media (max-width: 575.98px) {
            padding: 0.75rem;
        }
    }

    .title {
        font-weight: bolder;
        line-height: 2;
        padding-left: 0.8rem;
        border-left: 2px solid $positive;
    }

    form {
        color: inherit;

        .spinner {
            visibility: hidden;
            display: none;
            background-color: #23282d;
            opacity: 0.75;
            width: 1.5rem;
            height: 1.5rem;
            border: none;
            border-radius: 100%;
            padding: 0;
            margin: 1.5rem 0 1.5rem;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background-color: #fbfbfc;
                top: 4px;
                left: 4px;
                width: 6px;
                height: 6px;
                border: none;
                border-radius: 100%;
                transform-origin: 8px 8px;
                animation-name: spin;
                animation-duration: 1000ms;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            &.visible {
                visibility: hidden;
                display: inline-block;
            }
        }

        .response-output {
            margin: 1rem 0;
            padding: 1rem;
            font-weight: 600;

            &.success,
            &.error,
            &.warning {
                border-width: 2px;
                border-style: solid;
            }

            &.success {
                color: $positive;
                border-color: $positive;
            }

            &.error {
                color: $negative;
                border-color: $negative;
            }

            &.warning {
                color: $orange;
                border-color: $orange;
            }
        }
    }

    .question-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "text text"
            "answer examples";
        gap: 1rem;
        margin: 1.5rem 0;
    }

    .question-text {
        grid-area: text;
        font-weight: 600;
    }

    .question-answers {
        grid-area: answer;
        display: flex;
        border: 1px solid $silver;
    }

    .question-answer {
        &__container {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        &__checkmark {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 1rem 2rem;
            font-weight: 600;
            color: $gray;
        }

        &__input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked {
                & ~ .positive {
                    background: $positive;
                    color: $white;
                }

                & ~ .negative {
                    background: $negative;
                    color: $white;
                }
            }
        }
    }

    .equipment-image {
        position: sticky;
        top: 150px;

        @media (min-width: 768px) {
            margin-bottom: 3rem;
        }

        &-placeholder {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 20rem;
            background: #f0f0f0;

            .dashicon {
                width: 10rem;
                height: 10rem;
                font-size: 10rem;
                color: #cfcfcf;
            }
        }

        & > .icon {
            position: absolute;
            display: none;
            justify-content: center;
            align-items: center;
            width: 1.8rem;
            height: 1.8rem;
            font-weight: 600;
            line-height: 0;
            border-radius: 50%;
            border: 2px solid darken($orange, 10%);
            color: $white;
            background: $orange;

            @media (min-width: 768px) {
                display: flex;
            }

            &.positive {
                border: 2px solid darken($positive, 10%);
                background: $positive;

                &::after {
                    content: "\2714";
                    color: $white;
                }
            }

            &.negative {
                border: 2px solid darken($negative, 10%);
                background: $negative;

                &::after {
                    content: "\2716";
                    color: $white;
                }
            }
        }
    }

    .question-examples-link {
        grid-area: examples;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        font-weight: 600;
        text-decoration: none;
        color: $gray;

        @media (min-width: 992px) {
            max-width: 45%;
        }

        &::before {
            content: "+";
            font-size: 1.25rem;
            color: $orange;
            margin: 0 0.15rem;
            line-height: 1;
        }

        &:hover {
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                background: $orange;
                bottom: 1rem;
            }
        }
    }

    .question-examples-modal {
        &__number {
            margin-bottom: 1rem;
            font-size: 5rem;
            line-height: 1;
            font-weight: bold;
            color: $positive;
        }
    }

    .question-examples {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .question-example {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 8rem;
        height: auto;

        &__label {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            min-height: 60px;
            width: 100%;
            text-align: center;
            font-size: 0.75rem;
            font-weight: bold;
        }

        &__image {
            position: relative;
            width: 8rem;
            height: 8rem;
            margin: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .question-example__checkmark {
                background: $positive;
            }
        }

        &__checkmark {
            display: block;
            width: 1rem;
            height: 1rem;
            border: 1px solid $silver;
            border-radius: 50%;
        }
    }

    .contact-infos {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        label {
            flex: 0 0 calc(50% - 1rem);

            &:nth-last-child(-n + 2) {
                flex: 0 0 calc(100% - 1rem);
            }
        }
    }
}

.pme-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 80%);
    z-index: 9999;

    &.show {
        display: block;
    }

    &__dialog {
        position: absolute;
        width: min(768px, 90%);
        height: auto;
        top: 50%;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__close {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        margin-bottom: 1rem;
        text-decoration: none;
        line-height: 0;
        border-radius: 50%;
        background: $silver;

        &::after {
            content: "X";
            position: absolute;
            font-size: 1rem;
            font-weight: bold;
        }

        &:hover {
            color: $negative;
        }
    }

    &__content {
        line-height: 1.5;
        padding: 1rem;
        background: $background;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        &__close {
            display: block;
            height: auto;
            margin: 0 auto;
            padding: 1rem 2rem;
            font-weight: 600;
            font-size: 1rem;
            border: 1px solid $silver;
            border-radius: 0;
            color: $silver;

            &:hover {
                color: $white;
                background: $positive;
            }
        }
    }
}

.pme-accordion {
    border: 1px solid $gray;

    &:last-of-type {
        margin-bottom: 1rem;
    }

    &:not(:last-of-type) {
        border-bottom: none;
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: 1px solid $gray;
        background: darken($background, 5%);
    }

    &__move {
        display: flex;
        flex-direction: column;

        .move-up,
        .move-down {
            height: auto;
            padding: 0 0.5rem;
            border-radius: 0;
        }

        .move-up {
        }
        .move-down {
        }
    }

    &__toggle {
        display: flex;
        flex: 1;
        border: none;
        outline: none;
    }

    &__content {
        display: none;
        padding: 0.5rem;
        background: $background;
        overflow: hidden;
        transition: 0.4s;

        &.open {
            display: block;
        }
    }
}
